AcademyG.Week6.Test/AcademyG.Week6.Test.Client/Connected Services/ManagementService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ManagementService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/AcademyG.Week6.Test.Core.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IManagementService_GetAllClients_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllClients" />
  </wsdl:message>
  <wsdl:message name="IManagementService_GetAllClients_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllClientsResponse" />
  </wsdl:message>
  <wsdl:message name="IManagementService_GetClientById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClientById" />
  </wsdl:message>
  <wsdl:message name="IManagementService_GetClientById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IManagementService_GetClientByCode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClientByCode" />
  </wsdl:message>
  <wsdl:message name="IManagementService_GetClientByCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientByCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IManagementService_AddNewClient_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewClient" />
  </wsdl:message>
  <wsdl:message name="IManagementService_AddNewClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewClientResponse" />
  </wsdl:message>
  <wsdl:message name="IManagementService_UpdateClient_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateClient" />
  </wsdl:message>
  <wsdl:message name="IManagementService_UpdateClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateClientResponse" />
  </wsdl:message>
  <wsdl:message name="IManagementService_DeleteClientById_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteClientById" />
  </wsdl:message>
  <wsdl:message name="IManagementService_DeleteClientById_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteClientByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IManagementService">
    <wsdl:operation name="GetAllClients">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagementService/GetAllClients" message="tns:IManagementService_GetAllClients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagementService/GetAllClientsResponse" message="tns:IManagementService_GetAllClients_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClientById">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagementService/GetClientById" message="tns:IManagementService_GetClientById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagementService/GetClientByIdResponse" message="tns:IManagementService_GetClientById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClientByCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagementService/GetClientByCode" message="tns:IManagementService_GetClientByCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagementService/GetClientByCodeResponse" message="tns:IManagementService_GetClientByCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagementService/AddNewClient" message="tns:IManagementService_AddNewClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagementService/AddNewClientResponse" message="tns:IManagementService_AddNewClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagementService/UpdateClient" message="tns:IManagementService_UpdateClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagementService/UpdateClientResponse" message="tns:IManagementService_UpdateClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteClientById">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagementService/DeleteClientById" message="tns:IManagementService_DeleteClientById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagementService/DeleteClientByIdResponse" message="tns:IManagementService_DeleteClientById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IManagementService" type="tns:IManagementService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllClients">
      <soap:operation soapAction="http://tempuri.org/IManagementService/GetAllClients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientById">
      <soap:operation soapAction="http://tempuri.org/IManagementService/GetClientById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientByCode">
      <soap:operation soapAction="http://tempuri.org/IManagementService/GetClientByCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewClient">
      <soap:operation soapAction="http://tempuri.org/IManagementService/AddNewClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateClient">
      <soap:operation soapAction="http://tempuri.org/IManagementService/UpdateClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteClientById">
      <soap:operation soapAction="http://tempuri.org/IManagementService/DeleteClientById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ManagementService">
    <wsdl:port name="BasicHttpBinding_IManagementService" binding="tns:BasicHttpBinding_IManagementService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/AcademyG.Week6.Test.WCF/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>